.carousel {
    position: relative;
    padding-top: 50px;
    /* overflow: hidden; */
  }
  
  .carousel-slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-slide {
    width: 100%;
  }
  
  .carousel-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .carousel-nav button {
    margin: -20px 10px;
    padding: 10px 20px;
  }