.header {
    font-family: courier;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: pink;
  color: white;
}

.user_profile {
    text-align: right;
}