.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  display: flex;
  width: 100%; /* Set width to 100% */
  transition: transform 0.3s ease-in-out;
}

.slider {
  flex: 1; /* Use flexbox to adjust size of slider element */
  padding: 20px;
}

.slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-nav button {
  margin: 0 10px;
  padding: 10px 20px;
}